<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style/style.css">

    <title>ToDo Web App</title>
</head>
<body>
    <div class="background">
        <div class="lists">
            <div class="list todo">
                <div class="header">
                    <a class="title">ToDo</a>
                    <hr class="separator">
                </div>

                <div class="elements"></div>
                <div class="bar">
                    <input type="text" class="input" placeholder="Your task..">
                    <button type="button" class="btn"><a>Enter</a></button>
                </div>
            </div>

            <div class="list working">
                <div class="header">
                    <a class="title">In working</a>
                    <hr class="separator">
                </div>

                <div class="elements"></div>
            </div>

            <div class="list done">
                <div class="header">
                    <a class="title">Done</a>
                    <hr class="separator">
                </div>

                <div class="elements"></div>
            </div>
        </div>
    </div>
</body>
</html>